@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    padding: 1rem;
    margin: 1rem;
     text-align: center;
}
nav{
   border-radius: 2rem;
    border: 1px solid black;
    margin: 0 auto 1rem;
    max-width: 600px;
    line-height: 7rem;
}
h1{
    padding: 1rem;
    background-color: goldenrod;
    border-radius: 2rem 2rem 0 0;
}
ul{
    list-style-type: none;
}
li{
    border-top: 1px solid black;
}
li a{
    display: block;
}
li a{
    text-decoration: none;
    color: black;
}
li a:visited{
    text-decoration:none;
    color: red;
}
li a:hover{
    background-color: black;
    color: white;
}
li a :focus{
    background-color: black;
    color: whitesmoke;
}
li:last-child a{
    border-radius: 0 0 2rem 2rem;

}